<style>

.search-inp{
  border-radius: 25px;
  text-align: center;
  padding: 0.3rem 2rem 0.3rem 2rem;
}

.search-btn{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
}

.search-btn:hover{
    background-color: #fe424d;
    color: #fff;
}

.search-btn i{
  display: inline;
  margin-right: 0.5rem;
}

</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">  <!--navbar-expand-lg means if we resize the page till large level than only the nav btns will show up else only 3-layer hamburger.., md means medium , lg means large
  
  sticky-top to fix navbar
  
  border-bottom for border at bottom-->
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i   class="fa-solid fa-people-roof"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
        <div class="d-flex" role="search">
          <input class="form-control me-2 search-inp" id="search-input" type="search" placeholder="Search destination" name="searchText"/>
            <button class="btn search-btn" id="search-button" type="button"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </div>
      </div>

      <!-- ms-auto will align the buttons right -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Stay'n our home</a>
        <% if(!currUser){ %>
          <a class="nav-link" aria-current="page" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %> <% if(currUser){ %>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>